.nums{
    position: relative;
    margin: auto 0;
    background: -webkit-linear-gradient(45deg, #f6b272 40%,  #d46c4e 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15em;
    font-weight: bolder;
    filter: drop-shadow(5px 5px 5px grey);

}
.num-container{
    background-color: rgb(203, 203, 203);
    border-radius: 20px;
    align-content: center;
    width: 350px;
    height: 350px;
    filter: drop-shadow(5px 5px 5px grey);

}
.sm-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(5px 5px 5px grey);
}
.container{
    width: 50% !important;
}